.titulo-depoimentos{
	background-color: #0275D8;
	padding-top: 30px;
	padding-bottom: 30px;
	color:#FFF;
	margin-bottom: 0;
	font-size: 25px;
}
/* height para html e body é para permitir que a imagem do header seja 100% de altura*/
html,
body{height: 100%;}
header{
	background-image: url(img/castelo.jpg);
	height: 100%;
	background-size: cover;
	background-position: top center;
}

.grupo-radio, 
.contato-select{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

footer{
	background-color:#333;
	color:#FFF;
	padding-top:20px;
	margin-top:10px;
}

header h1{
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
}

.topCasaFina-banner{
	color:#FFF;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	width: 80%;
	border-radius: 10px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	transition: 0.8s; /*tempo de transição entre mudanças que este sofrer*/
	z-index: 10;
}
.navbar-default{
	z-index: 10000;
}

@media(min-width: 768px){
	.painel-responsivo{
		width: 50%;
		float: left;
	}
}
@media(min-width: 992px){
	.topCasaFina-banner{
		width: 60%;
	}
}